:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-size: 62.5%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --border: rgb(3, 169, 244);
  --g1: rgb(98, 0, 234);
  --g2: rgb(236, 64, 122);
  --g3: rgb(253, 216, 53);
}

body {
  margin: 0;
}

.wrapper {
  margin: 2em;
}

.star-text-link {
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
}

@media screen and (min-width: 1700px) {
  .wrapper {
    width: 1700px;
    margin: 4em auto;
  }
}
